html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	color: white;
	font-size: 19px;
}

h1 h2 h3 p img{
	margin: 0;
	padding: 0;
}

a{
	color: #fff;
	text-decoration: underline;
}

.black{
	color: black;
}

.gray{
	color: gray;
}

/*.bgmain{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #19255a;
	z-index: -3;
}*/

/*--------------scroll/content--------------*/

.section{
	position: relative;
}

.section:nth-child(1){
	z-index: 0;
}

.section:nth-child(2){
	background: #000000;
	z-index: -1;
}

.section:nth-child(3){
	background: #243447;
	z-index: -1;
}

.section:nth-child(4){
	background-image: url("../img/circlefontv4.png");
	background-size: cover;
	z-index: -1;
}

.section:nth-child(5){
	background-color: #1C1F2A;
	z-index: -1;
}

.section:nth-child(6){
	background-color: #121623;
	z-index: -1;
}

/*------------------------------------------------------------*/

/*phone-only*/
@media (max-width: 599px){

	.headline{
		margin-bottom: 20px;
		font-weight: medium;
		font-size: 24px;
	}

	.subhead{
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 18px;
	}

	.center{
		position: absolute;
		top: 30vh;
		left: 50vw;
		margin-left: -50vw;
		padding-left: 18vw;
		padding-right: 9vw;
	}

	.email{
		position: absolute;
		float: left;
		left: 2vw;
		bottom: 0;
		transform-origin: bottom left;transform:rotate(-90deg);
		font-size: 16px;
		font-weight: normal;
		color: #FFFFFF;
		letter-spacing: 0;
		margin: 5vh;
	}

	.prjcttext{
		position: absolute;
		top: 15vh;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		padding-left: 12px;
		padding-right: 18px;
		font-size: 18px;
	}
	
	.phonevid{
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: -1;
	}

	.pcvid{
		display: none;
	}
 
	.twitter{
		display: none;
	}

	.section:nth-child(3){
		background-image: url("../img/twitterbgphone2.svg");
		background-size: cover;
		z-index: -1;
	}

	.section:nth-child(4){
		background-image: url("../img/circlephone.png");
		background-size: cover;
		z-index: -1;
	}

	.foto{
		position: absolute;
		width: 100%;
		height: 40vh;
		background: darkblue;
	}

	.about{
		position: absolute;
		top: 40vh;
		color: #FFFFFF;
		font-size: 18px;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		padding-left: 12px;
		padding-right: 20px;
	}

	footer{
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		font-size: 18px;
		text-align: left;
		margin-left: 1.5vw;
		margin-top: 3vh;
		padding-left: 12px;
		color: gray;

	}

	.oneline{
		display: none;
	}

	/*----------------------------------------*/
	/*---------------project.html-------------*/

	.ptext{
		font-size: 18px;
		margin: 5vh 5vw;
	}

	.pjhead{
		font-size: 24px;
		font-weight: medium;
		margin-top: 15vh;
		margin-left: 5vw;
		margin-bottom: 5vh;
	}
}
/*------------------------------------------------------------*/

/*tablet-portrait*/
@media (min-width: 600px) {

	.headline{
		margin-bottom: 30px;
		font-weight: medium;
		font-size: 36px;
	}

	.subhead{
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 24px;
	}

	.center{
		margin: 0;
		padding: 0;
		position: absolute;
		top: 45vh;
		left: 54vw;
		transform: translate(-50%,-50%);
	}

	.email{
		position: absolute;
		float: left;
		left: 1vw;
		bottom: 0;
		transform-origin: bottom left;transform:rotate(-90deg);
		font-size: 16px;
		font-weight: normal;
		color: #FFFFFF;
		letter-spacing: 0;
		margin: 4vh;
	}

	.prjcttext{
		position: absolute;
		top: 15vh;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		padding-left: 12px;
		padding-right: 18px;
		font-size: 20px;
	}

	.phonevid{
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: -1;
	}

	.pcvid{
		display: none;
	}

	.twitter{
		position: absolute;
		width: 50vw;
		top: 45vh;
		left: 50%;
		transform: translate(-50%);
	}

	.section:nth-child(4){
		background-image: url("../img/circletablet.png");
		background-size: cover;
		z-index: -1;
	}

	.foto{
		position: absolute;
		width: 300px;
		height: 450px;
		background: black;
		top: 25vh;
		margin-left: 10vw;
		padding-left: 12px;
	}

	.about{
		position: absolute;
		top: 25vh;
		left: 53vw;
		right: 10vw;
		color: #FFFFFF;
		font-size: 20px;
	}

	footer{
		display: block;
		position: absolute;
		bottom: 0;
		font-size: 18px;
		text-align: left;
		margin-left: 1.5vw;
		margin-top: 3vh;
		margin-bottom: 1.5vh;
		padding-left: 12px;
		color: gray;

	}

	.oneline{
		position: absolute;
		width: 23vw;
		height: auto;
		top: 43vh;
		left: 50%;
		transform: translate(-50%);
	}

	/*----------------------------------------*/
	/*---------------project.html-------------*/

	.ptext{
		font-size: 19px;
		margin: 5vh 5vw;
	}

	.pjhead{
		font-size: 36px;
		font-weight: medium;
		margin-top: 15vh;
		margin-left: 5vw;
		margin-bottom: 10vh;
	}

}
/*------------------------------------------------------------*/

/*tablet-landscape*/
@media (min-width: 900px){

	.headline{
		margin-bottom: 30px;
		font-weight: medium;
		font-size: 36px;
	}

	.subhead{
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 24px;
	}

	.center{
		margin: 0;
		padding: 0;
		position: absolute;
		top: 42vh;
		left: 53vw;
		transform: translate(-50%,-50%);
	}

	/*.textbg{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
	}*/

	.prjcttext{
		position: absolute;
		top: 29vh;
		left: 3vw;
		right: 55vw;
		padding: 12px;
	}

	.pcvid{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	.phonevid{
		display: none;
	}

	.twitter{
		position: absolute;
		width: 35vw;
		top: 30vh;
		left: 70vw;
	}

	.section:nth-child(4){
		background-image: url("../img/circlefontv4.png");
		background-size: cover;
		z-index: -1;
	}

	.foto{
		position: absolute;
		width: 300px;
		height: 450px;
		background: black;
		right: 53vw;
		top: 20vh;
	}

	.about{
		position: absolute;
		top: 20vh;
		left: 50vw;
		color: #FFFFFF;
		font-size: 20px;
	}

	.oneline{
		position: absolute;
		width: 16vw;
		top: 30vh;
		left: 70vw;
	}
}

/*------------------------------------------------------------*/
/*desktop*/
@media (min-width: 1200px){

	.headline{
		margin-bottom: 30px;
		font-weight: medium;
		font-size: 36px;
	}

	.subhead{
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 24px;
	}

	.center{
		margin: 0;
		padding: 0;
		position: absolute;
		top: 48vh;
		left: 51vw;
		transform: translate(-50%,-50%);
	}

	.prjcttext{
		position: absolute;
		top: 33vh;
		right: 66vw;
	}

	.twitter{
		display: none;
	}

	.defaulttwitter{
		position: absolute;
		width: 30vw;
		top: 31vh;
		left: 50vw;
	}

	.skeletontwitter{
		position: absolute;
		width: 27vw;
		top: 32vh;
		left: 52.2vw;
	}

	.xraystate{
		opacity: 0;
		transition: 0.5s;
	}

	.xray:hover .xraystate{
		opacity: 1;
	}

	.foto{
		position: absolute;
		width: 300px;
		height: 450px;
		left: 11vw;
		background: black;
		top: 25vh;
	}

	.about{
		position: absolute;
		top: 25vh;
		left: 45vw;
		right: 20vw;
		color: #FFFFFF; 
		font-size: 20px;
	}

	.sketch{
		position: absolute;
		float: right;
		top: 54vh;
		transform-origin: bottom right;transform:rotate(90deg);
		right: 5vw;
		font-size: 20px;
		font-weight: normal;
		color: #FFFFFF;
		letter-spacing: 0;
		z-index: -1;
	}

	.raster{
		position: absolute;
		transform: translate(-50%,-50%);
		left: 50%;
		top: 50%;
		z-index: -1;
		height: 100%;
		width: auto;
	}

	.oneline{
		display: none;
	}
}
/*------------------------------------------------------------*/

@media (max-width: 1200px){
	.sketch{
		display: none;
	}

	.raster{
		display: none;
	}

	.defaulttwitter{
		display: none;
	}

	.skeletontwitter{
		display: none;
	}

	#paint{
		display: none;
	}
}

#paint{
	cursor: url("../img/cursor.cur") 0 15, auto;
	position: absolute;
}

/*----------------------------------------*/
/*--------------navbar--------------------*/

#nav{
}

.logo{
	float: left;
	margin-left: 1.5vw;
	margin-top: 3vh;
	margin-bottom: 0vh;
	padding-left: 12px;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
	/*height: 100px*/
	/*padding: 10px 100px;*/
	box-sizing: border-box;
	transition: .3s;
	z-index: 100;
	color: white;

	font-size: 16px;
	font-weight: normal;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	margin-right: 1vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding: 0;
	display: flex;
}

@media screen and (min-width: 769px){

	nav ul li a{
		line-height: 40px;
		color: #fff;
		padding: 12px 30px;					
		text-decoration: none;
		transition: .3s;
	}

}

@media screen and (max-width: 768px){

	nav ul li a{
		line-height: 40px;
		color: #fff;
		padding: 12px 20px;				
		text-decoration: none;
		transition: .3s;
	}
}

li a:hover{
	text-decoration: underline;
}

li a.activelink{
	text-decoration: underline;
}

/*----------------------------------------*/
/*---------------Impressum----------------*/

.imp{
	margin-top: 15vh;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-bottom: 10vh;
}

.navblack{
	background-color: rgba(0, 0, 0, 0.8);
}

.back{
	margin-bottom: 3vh;
}

/*----------------------------------------*/
/*---------------project1-----------------*/

.bg1{
	background-color: #000000;
}

.pvid iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pvid {
	position: relative;
	/*padding-bottom: 56.25%;*/
	padding-bottom: 50.75%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	margin-bottom: 5vh;
}

.pimg{
	position: sticky;
	width: 90vw;
	margin-bottom: 3vh;
}

.pcenter{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/*----------------------------------------*/
/*---------------project2-----------------*/

.bg2{
	background-color: #243447;
}

.p2img{
	width: 70vw;
	margin-bottom: 3vh;
}

.p2browserimg{
	width: 95.5vw;
	margin-bottom: 3vh;
}

.p2center{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/*----------------------------------------*/
/*---------------project3-----------------*/

.bg3{
	background-color: #e3e3e3;
}

